In [52]:
import pandas as pd

In [83]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory = False)
data.drop(0, inplace = True)
data.head()

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
1,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
4,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
5,232,45-49,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN

## Task 1

The most frequent age of respondents

In [72]:
data['Q2'].mode()

0    18-21
Name: Q2, dtype: object

## Task 2

The proportion of women among Russian participants who are no longer students

In [73]:
data [
    (data['Q4'].str.contains('Russia')) &
    (data['Q5'].str.contains('No')) &
     (data['Q3'].str.contains('Woman'))
].shape[0] / data.shape[0]

0.0016252031503937992

## Task 3

Average filling time of the survey

In [81]:
data['Duration (in seconds)'] = data['Duration (in seconds)'].astype(int)
print('%.2f' % data['Duration (in seconds)'].mean())

10090.10

## Task 4

Top 3 educational courses

In [131]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
courses = data[q6_columns].melt(value_vars=q6_columns)
courses['value'].value_counts().iloc[:3]

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: value, dtype: int64

## Task 5

Top 5 programming languages that Data Scientists regularly use in their work

In [132]:
# Q12
q12_columns = [col for col in data.columns if col.startswith('Q12')]
courses = data[q12_columns].melt(value_vars=q12_columns)
courses['value'].value_counts().iloc[:5]

Python    18653
SQL        9620
R          4571
C++        4549
Java       3862
Name: value, dtype: int64

## Task 6

Average income of 'Data Scientist' and 'Machine Learning/ MLops Engineer'

In [166]:
employees_salary = {
    '>$1,000,000': 1000000,
    '$0-999': 500,'1,000-1,999': 1500,
    '10,000-14,999' : 12500, '15,000-19,999': 17500,
    '20,000-24,999': 22500, '25,000-29,999': 27500,
    '30,000-39,999': 35000, '40,000-49,999': 45000,
    '50,000-59,999': 55000, '60,000-69,999': 65000,
    '70,000-79,999': 75000, '80,000-89,999': 85000,
    '90,000-99,999': 95000, '100,000-124,999' : 112500,
    '125,000-149,999': 137500, '150,000-199,999': 175000,
    '200,000-249,999': 225000, '250,000-299,999': 275000,
    '300,000-499,999': 400000,'$500,000-999,999': 750000
}
data['Q29-NEW'] = data['Q29'].map(employees_salary)
employees = data[['Q23', 'Q29-NEW']].dropna()
employees [
    employees['Q23'].str.contains('Data Scientist|Machine Learning/ MLops Engineer')
]['Q29-NEW'].mean()

79594.10844629823